# Indexing and selecting data

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

pd.options.display.max_rows = 8

In [2]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

     area    capital         country  population
0   30510   Brussels         Belgium        11.3
1  671308      Paris          France        64.3
2  357050     Berlin         Germany        81.3
3   41526  Amsterdam     Netherlands        16.9
4  244820     London  United Kingdom        64.9

In [3]:
countries = countries.set_index('country')
countries

                  area    capital  population
country
Belgium          30510   Brussels        11.3
France          671308      Paris        64.3
Germany         357050     Berlin        81.3
Netherlands      41526  Amsterdam        16.9
United Kingdom  244820     London        64.9

## Some notes on selecting data

One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. We now have to distuinguish between:

- selection by label
- selection by position.

### `data[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns.

Selecting a single column:

In [4]:
countries['area']

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

or multiple columns:

In [6]:
countries[['area', 'population']]

                  area  population
country
Belgium          30510        11.3
France          671308        64.3
Germany         357050        81.3
Netherlands      41526        16.9
United Kingdom  244820        64.9

But, slicing accesses the rows:

In [7]:
countries['France':'Netherlands']

               area    capital  population
country
France       671308      Paris        64.3
Germany      357050     Berlin        81.3
Netherlands   41526  Amsterdam        16.9

So as a summary, `[]` provides the following convenience shortcuts:

- Series: selecting a label: `s[label]`
- DataFrame: selecting a single or multiple columns: `df['col']` or `df[['col1', 'col2']]`
- DataFrame: slicing the rows: `df['row_label1':'row_label2']`

### Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

These work :

* `df.loc[row_indexer, column_indexer]`
* `df.iloc[row_indexer, column_indexer]`

Selecting a single element:

In [8]:
countries.loc['Germany', 'area']

357050

But the row or column indexer can also be a list, slice, boolean array, ..

In [9]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

---
Selecting by position with `iloc` works similar as indexing numpy arrays:

In [10]:
countries.iloc[0:2,1:3]

          capital  population
country
Belgium  Brussels        11.3
France      Paris        64.3

The different indexing methods can also be used to assign data:

In [11]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [12]:
countries2

                  area    capital  population
country
Belgium          30510   Brussels        10.0
France          671308      Paris        10.0
Germany         357050     Berlin        10.0
Netherlands      41526  Amsterdam        16.9
United Kingdom  244820     London        64.9

---

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column `density` with the population density
</div>

In [13]:
countries['density'] = countries['population']*1000000 / countries['area']
countries

                  area    capital  population     density
country
Belgium          30510   Brussels        10.0  327.761390
France          671308      Paris        10.0   14.896292
Germany         357050     Berlin        10.0   28.007282
Netherlands      41526  Amsterdam        16.9  406.973944
United Kingdom  244820     London        64.9  265.092721

<div class="alert alert-success">
    <b>EXERCISE</b>: Select the capital and the population column of those countries where the density is larger than 300
</div>

In [14]:
countries.loc[countries['density'] > 300, ['capital', 'population']]

               capital  population
country
Belgium       Brussels        10.0
Netherlands  Amsterdam        16.9

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column 'density_ratio' with the ratio of the density to the mean density
</div>

In [16]:
countries['density_ratio'] = countries['density'] / countries['density'].mean()
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        10.0  327.761390       1.571648
France          671308      Paris        10.0   14.896292       0.071429
Germany         357050     Berlin        10.0   28.007282       0.134298
Netherlands      41526  Amsterdam        16.9  406.973944       1.951480
United Kingdom  244820     London        64.9  265.092721       1.271145

<div class="alert alert-success">
    <b>EXERCISE</b>: Change the capital of Belgium to Ghent
</div>

## Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [17]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [18]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510      Ghent        10.0  327.761390       1.571648
France          671308      Paris        10.0   14.896292       0.071429
Germany         357050     Berlin        10.0   28.007282       0.134298
Netherlands      41526  Amsterdam        16.9  406.973944       1.951480
United Kingdom  244820     London        64.9  265.092721       1.271145

In [19]:
countries['capital']['Belgium'] = 'Antwerp'

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510    Antwerp        10.0  327.761390       1.571648
France          671308      Paris        10.0   14.896292       0.071429
Germany         357050     Berlin        10.0   28.007282       0.134298
Netherlands      41526  Amsterdam        16.9  406.973944       1.951480
United Kingdom  244820     London        64.9  265.092721       1.271145

In [21]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510    Antwerp        10.0  327.761390       1.571648
France          671308      Paris        10.0   14.896292       0.071429
Germany         357050     Berlin        10.0   28.007282       0.134298
Netherlands      41526  Amsterdam        16.9  406.973944       1.951480
United Kingdom  244820     London        64.9  265.092721       1.271145