# Indexing and selecting data

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
try:
    import seaborn
except ImportError:
    pass

In [2]:
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

     area    capital         country  population
0   30510   Brussels         Belgium        11.3
1  671308      Paris          France        64.3
2  357050     Berlin         Germany        81.3
3   41526  Amsterdam     Netherlands        16.9
4  244820     London  United Kingdom        64.9

In [3]:
countries = countries.set_index('country')
countries

                  area    capital  population
country
Belgium          30510   Brussels        11.3
France          671308      Paris        64.3
Germany         357050     Berlin        81.3
Netherlands      41526  Amsterdam        16.9
United Kingdom  244820     London        64.9

## Some notes on selecting data

One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. We now have to distuinguish between:

- selection by label
- selection by position.

### `data[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns.

Selecting a single column:

In [4]:
countries['area']

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

or multiple columns:

In [5]:
countries[['area', 'population']]

                  area  population
country
Belgium          30510        11.3
France          671308        64.3
Germany         357050        81.3
Netherlands      41526        16.9
United Kingdom  244820        64.9

But, slicing accesses the rows:

In [6]:
countries['France':'Netherlands']

               area    capital  population
country
France       671308      Paris        64.3
Germany      357050     Berlin        81.3
Netherlands   41526  Amsterdam        16.9

So as a summary, `[]` provides the following convenience shortcuts:

- Series: selecting a label: `s[label]`
- DataFrame: selecting a single or multiple columns: `df['col']` or `df[['col1', 'col2']]`
- DataFrame: slicing the rows: `df['row_label1':'row_label2']` or `df[mask]`

### Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

These methods index the different dimensions of the frame:

* `df.loc[row_indexer, column_indexer]`
* `df.iloc[row_indexer, column_indexer]`

Selecting a single element:

In [7]:
countries.loc['Germany', 'area']

357050

But the row or column indexer can also be a list, slice, boolean array, ..

In [8]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

---
Selecting by position with `iloc` works similar as indexing numpy arrays:

In [9]:
countries.iloc[0:2,1:3]

          capital  population
country
Belgium  Brussels        11.3
France      Paris        64.3

The different indexing methods can also be used to assign data:

In [10]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [11]:
countries2

                  area    capital  population
country
Belgium          30510   Brussels        10.0
France          671308      Paris        10.0
Germany         357050     Berlin        10.0
Netherlands      41526  Amsterdam        16.9
United Kingdom  244820     London        64.9

## Boolean indexing (filtering)

Like a where clause in SQL. The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [13]:
countries['area'] > 100000

country
Belgium           False
France             True
Germany            True
Netherlands       False
United Kingdom     True
Name: area, dtype: bool

In [14]:
countries[countries['area'] > 100000]

                  area capital  population
country
France          671308   Paris        64.3
Germany         357050  Berlin        81.3
United Kingdom  244820  London        64.9

---

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column `density` with the population density (note: population column is expressed in millions)
</div>

In [15]:
countries['density'] = countries['population'] * 1000000 / countries['area']

In [16]:
countries

                  area    capital  population     density
country
Belgium          30510   Brussels        11.3  370.370370
France          671308      Paris        64.3   95.783158
Germany         357050     Berlin        81.3  227.699202
Netherlands      41526  Amsterdam        16.9  406.973944
United Kingdom  244820     London        64.9  265.092721

<div class="alert alert-success">
    <b>EXERCISE</b>: Select the capital and the population column of those countries where the density is larger than 300
</div>

In [17]:
countries[['capital', 'population']]

                  capital  population
country
Belgium          Brussels        11.3
France              Paris        64.3
Germany            Berlin        81.3
Netherlands     Amsterdam        16.9
United Kingdom     London        64.9

In [18]:
countries[countries['density'] > 300]

              area    capital  population     density
country
Belgium      30510   Brussels        11.3  370.370370
Netherlands  41526  Amsterdam        16.9  406.973944

In [20]:
countries.loc[countries['density'] > 300, ['capital', 'population']]

               capital  population
country
Belgium       Brussels        11.3
Netherlands  Amsterdam        16.9

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column 'density_ratio' with the ratio of the density to the mean density
</div>

In [21]:
countries['density_ratio'] = countries['density'] / countries['density'].mean()

In [22]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820     London        64.9  265.092721       0.970382

<div class="alert alert-success">
    <b>EXERCISE</b>: Change the capital of the UK to Cambridge
</div>

In [24]:
countries.loc['United Kingdom', 'capital'] = 'Cambridge'
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries whose population density is between 100 and 300 people/km²
</div>

In [37]:
countries[(countries['density'] > 100) & (countries['density'] < 300)].index

Index(['Germany', 'United Kingdom'], dtype='object', name='country')

In [28]:
mask = countries['density'] > 100

In [31]:
mask.all()

False

In [32]:
countries['density']

country
Belgium           370.370370
France             95.783158
Germany           227.699202
Netherlands       406.973944
United Kingdom    265.092721
Name: density, dtype: float64

In [36]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

## Some other useful methods: `isin` and string methods

The `isin` method of Series is very useful to select rows that may contain certain values:

In [38]:
s = countries['capital']

In [39]:
s.isin?

In [40]:
s.isin(['Berlin', 'London'])

country
Belgium           False
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

This can then be used to filter the dataframe with boolean indexing:

In [41]:
countries[countries['capital'].isin(['Berlin', 'London'])]

           area capital  population     density  density_ratio
country
Germany  357050  Berlin        81.3  227.699202       0.833502

Let's say we want to select all data for which the capital starts with a 'B'. In Python, when having a string, we could use the `startswith` method:

In [42]:
'Berlin'.startswith('B')

True

In pandas, these are available on a Series through the `str` namespace:

In [43]:
countries['capital'].str.startswith('B')

country
Belgium            True
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries that have capital names with more than 7 characters
</div>

In [47]:
countries['area'].str.len()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [49]:
countries.dtypes

area               int64
capital           object
population       float64
density          float64
density_ratio    float64
dtype: object

In [50]:
countries[s.str.len() > 7]

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        11.3  370.370370       1.355755
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [ ]:
countries.

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries that have capital names that contain the character sequence 'am'
</div>

In [51]:
s.str.contains('am')

country
Belgium           False
France            False
Germany           False
Netherlands        True
United Kingdom     True
Name: capital, dtype: bool

## Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [52]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [53]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510      Ghent        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [54]:
countries['capital']['Belgium'] = 'Antwerp'

/home/joris/miniconda/envs/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [55]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510    Antwerp        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [58]:
countries[countries['capital'] == 'Antwerp']

          area  capital  population    density  density_ratio
country
Belgium  30510  Antwerp        11.3  370.37037       1.355755

In [61]:
countries.loc[countries['capital'] == 'Antwerp', 'capital'] = 'Brussels'

In [62]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510   Brussels        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [68]:
df = countries.loc[countries['capital'] == 'Brussels'].copy()

In [69]:
df

          area   capital  population    density  density_ratio
country
Belgium  30510  Brussels        11.3  370.37037       1.355755

In [70]:
df['capital'] = 'Antwerp'

How to avoid this?

* Use `loc` instead of chained indexing if possible!
* Or `copy` explicitly if you don't want to change the original data.

## More exercises!

For the quick ones among you, here are some more exercises with some larger dataframe with film data. These exercises are based on the [PyCon tutorial of Brandon Rhodes](https://github.com/brandon-rhodes/pycon-pandas-tutorial/) (so all credit to him!) and the datasets he prepared for that. You can download these data from here: [`titles.csv`](https://drive.google.com/file/d/0B3G70MlBnCgKa0U4WFdWdGdVOFU/view?usp=sharing) and [`cast.csv`](https://drive.google.com/file/d/0B3G70MlBnCgKRzRmTWdQTUdjNnM/view?usp=sharing) and put them in the `/data` folder.

In [ ]:
cast = pd.read_csv('data/cast.csv')
cast.head()

In [ ]:
titles = pd.read_csv('data/titles.csv')
titles.head()

<div class="alert alert-success">
    <b>EXERCISE</b>: How many movies are listed in the titles dataframe?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: What are the earliest two films listed in the titles dataframe?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: How many movies have the title "Hamlet"?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: List all of the "Treasure Island" movies from earliest to most recent.
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: How many movies were made from 1950 through 1959?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: How many roles in the movie "Inception" are NOT ranked by an "n" value?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: But how many roles in the movie "Inception" did receive an "n" value?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: How many roles were credited in the silent 1921 version of Hamlet?
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
</div>